.app {
  padding: 40px;
  background-color: rgb(136, 146, 234);
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}
.container{
  padding: 10px;
}